<header>
  <div class="container">
    <div class="row">
      <div class="logo">
        <h1><a href="/">File Uploader</a></h1>
      </div>
      <% if (locals.user) {%>
        <div style="display: flex; gap: 1rem;">
          <p style="color: var(--color-primary); font-weight: 700;"><%= locals.user ? user.username : '' %></p>
          <a href="/logout">Logout</a>    
        </div>
      <%}%>
    </div>
  </div>
</header>
