<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <main>
      <section>
        <div class="container">
          <h2>Welcome to File Uploader</h2>
          <p>
            <a href="/login">Login</a> or <a href="/signup">Sign Up</a> to begin
            storing your files.
          </p>
        </div>
      </section>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
