<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/header.ejs") %>

    <main>
      <section>
        <div class="container">
          <h2>Sign Up</h2>
          <form action="/signup" method="POST">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              placeholder="Email"
              type="email"
              autocomplete="email"
            />
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
            />
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="new-password"
            />
            <button type="submit">Sign Up</button>
          </form>
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
      </section>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
